form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  margin-bottom: 3em;
}

textarea {
  resize: none;
  height: 10em;
}

button {
  font-size: 1.5em;
}

:host {
  height: 80%;
}
