<h2>Process Purchase Orders</h2>

<h3>{{this.poMessage}}</h3>

<div id="table" *ngIf="purchaseOrders" class="card-container">
    <div id="innerTable">
        <table class="table">
            <tr>
                <th>PONumber</th>
                <th>Status</th>
                <th>Employee</th>
                <th>EmployeeId</th>
                <th>Department</th>
                <th>Subtotal</th>
                <th>Tax</th>
                <th>Total</th>
                <th>Date Created</th>
            </tr>
            <tr *ngFor="let purchaseOrder of purchaseOrders">
                <td>{{purchaseOrder.poNumber}}</td>
                <td [ngSwitch]="purchaseOrder.status">
                    <ng-container *ngSwitchCase="1">Pending</ng-container>
                    <ng-container *ngSwitchCase="2">Under Review</ng-container>
                    <ng-container *ngSwitchCase="3">Closed</ng-container>
                </td>
                <td>{{purchaseOrder.employeeName}}</td>
                <td>{{purchaseOrder.employeeId}}</td>
                <td>{{purchaseOrder.departmentName}}</td>
                <td>{{purchaseOrder.subtotal | number : '1.2-2' | currency}}</td>
                <td>{{purchaseOrder.salesTax | number : '1.2-2' | currency}}</td>
                <td>{{purchaseOrder.total | number : '1.2-2' | currency}}</td>
                <th>{{purchaseOrder.dateCreated | date :'short'}}</th>
                <td><input type="button" (click)="getItems(purchaseOrder.poNumber, purchaseOrder.employeeId)" value="Select"  class="btn btn-primary"/></td>    
            </tr>
        </table>
    </div>
</div>

<h3 *ngIf="itemFlag" [ngSwitch]="purchaseOrder.status" id="details" style='text-align: center;'>PO #{{purchaseOrder.poNumber}} - <ng-container *ngSwitchCase="1">Pending</ng-container><ng-container *ngSwitchCase="2">Under Review</ng-container><ng-container *ngSwitchCase="3">Closed</ng-container></h3>

<div *ngIf="itemFlag">

    <table>
        <tr>
            <td>Employee: {{employee.firstName}} {{employee.lastName}}</td>
            <td style="padding-left:1em;">Department: {{department.name}}</td>
        </tr>
        <tr>
            <td style="padding-left:2.3em;">Date: {{this.currentDate | date :'shortDate'}} </td>
            <td style="padding-left:1.6em;">Supervisor: {{employee.firstName}} {{employee.lastName}}</td>
        </tr>
    </table>

    <div id="header">
        <table id="poPrice">
            <tr>
                <td><b>Order Subtotal:</b> {{purchaseOrder.subtotal | number : '1.2-2' | currency}}</td>
                <td style="padding-left:2em;"><b>Order Tax:</b> {{purchaseOrder.salesTax | number : '1.2-2' | currency}}</td>
            </tr>
            <tr>
                <td style="padding-left:27.5px; padding-top:10px;"><b>Order Total:</b> {{purchaseOrder.total | number : '1.2-2' | currency}}</td>
            </tr>
        </table>
    </div>
    
    <div>
        <input class="btn btn-outline-primary" type="submit" value="Save Purchase Order"/>
        <div id="table" *ngIf="items" class="card-container">
            <div id="innerTable">
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Justification</th>
                        <th>Location</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                        <th>Status</th>
                    </tr>
                    <tr *ngFor="let item of items">
                        <td scope="row">{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.justification}}</td>
                        <td>{{item.location}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.price | number : '1.2-2' | currency}}</td>
                        <td>{{item.subtotal | number : '1.2-2' | currency}}</td>
                        <td [ngSwitch]="item.status">
                            <ng-container *ngSwitchCase="1">Pending</ng-container>
                            <ng-container *ngSwitchCase="2">Approved</ng-container>
                            <ng-container *ngSwitchCase="3">Denied</ng-container>
                        </td>
                        <td><input type="button" id="selectItem" (click)="getItemToEdit(item.poNumber, item.id)" value="Select"class="btn btn-primary"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<h3>{{this.message}}</h3>

<div id="itemForm" *ngIf="details">
    <form #itemForm="ngForm" (ngSubmit)="onFormSubmit(itemForm)" method="POST">
        <div *ngIf="item.id">
            <label>ID:</label><input name="id" #id="ngModel" [(ngModel)]="item.id" class="form-control" readonly/>
        </div>

        <div>
            <label>Name:</label>
            <input type="text" name="name" required #name="ngModel" [(ngModel)]="item.name" class="form-control" readonly/>
            <i *ngIf="(name?.errors?.required) && itemForm.submitted && !isValidFormSubmitted" class="fas fa-exclamation-circle err"
                [attr.title]="name?.errors?.required ? 'Name is required' : ''"></i> <br>
        </div>

        <div id="odd">
            <label>Description:</label>
            <input type="text" name="description" required #description="ngModel" [(ngModel)]="item.description" class="form-control" readonly/><br>
            <i *ngIf="(description?.errors?.required) && itemForm.submitted && !isValidFormSubmitted" class="fas fa-exclamation-circle err"
                [attr.title]="description?.errors?.required ? 'Description is required' : ''"></i>
        </div>
        <label>Justification:</label>
        <input type="text" name="justification" required #justification="ngModel" [(ngModel)]="item.justification" class="form-control" readonly/><br>
        <i *ngIf="(justification?.errors?.required) && itemForm.submitted && !isValidFormSubmitted" class="fas fa-exclamation-circle err"
            [attr.title]="justification?.errors?.required ? 'Justification is required' : ''"></i>


        <label>Location:</label><i *ngIf="(location?.errors?.required) && itemForm.submitted && !isValidFormSubmitted" class="fas fa-exclamation-circle err"
        [attr.title]="location?.errors?.required ? 'Location is required' : ''"></i>
        <input type="text" name="location" required #location="ngModel" [(ngModel)]="item.location" class="form-control" (ngModelChange)="calculateSubtotal()"/> <br>


        <label>Quantity:</label><i *ngIf="(quantity?.errors?.required || quantity?.errors?.min) && itemForm.submitted && !isValidFormSubmitted" class="fas fa-exclamation-circle err"
        [attr.title]="quantity?.errors?.required ? 'Quantity is required' : quantity?.errors?.min ? 'Quantity cannot be less than 0.' : ''"></i>
        <input type="text" name="quantity" required min="1" #quantity="ngModel" [(ngModel)]="item.quantity" class="form-control" (ngModelChange)="calculateSubtotal()"/> <br>

        <label>Price:</label><i *ngIf="(price?.errors?.required) && itemForm.submitted && !isValidFormSubmitted" class="fas fa-exclamation-circle err"
        [attr.title]="price?.errors?.required ? 'Price is required' : ''"></i>
        <input type="text" name="price" required min="1" #price="ngModel" [(ngModel)]="item.price" class="form-control" (ngModelChange)="calculateSubtotal()" /><br>

        <label>Subtotal:</label><i *ngIf="(subtotal?.errors?.required) && itemForm.submitted && !isValidFormSubmitted" class="fas fa-exclamation-circle err"
        [attr.title]="subtotal?.errors?.required ? 'Subtotal is required' : ''"></i>
        <input type="text" name="subtotal" required min="1" #subtotal="ngModel" [(ngModel)]="item.subtotal" class="form-control" readonly/><br>
        
        <div *ngIf="reasonRequired">
            <label>Reason:</label> <p>{{this.reasonMessage}}</p>
            <input type="text" name="reason" min="1" #reason="ngModel" [(ngModel)]="item.reason" class="form-control"/><br>
        </div>
        
        <label>Status:</label>
        <select style="text-align: center;" class="form-control" name="status" #status="ngModel" [(ngModel)]="item.status">
            <option value="1">Pending</option>
            <option value="2">Approved</option>
            <option value="3">Denied {{calculateSubtotal()}}</option>
        </select>

        <input type="hidden" name="timestamp" #timestamp="ngModel" [(ngModel)]="item.timestamp">

        <button class="btn btn-primary">Submit</button>
    </form>
</div>
