#formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  margin-top: 4%;
}

#formContainer button {
  font-size: 1.5em;
}

#formContainer input[type="text"],
#formContainer input[type="password"] {
  text-align: center;
}
